<div
  class="modal fade"
  [class.show]="visible"
  [style.display]="displayStyle()"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">CSV File Import</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">

          <div *ngIf="!isInProgress" class="row">
            <div class="col-md-12">
              <app-dropzone>
                Drop Files
              </app-dropzone>
            </div>
          </div>

          <div *ngIf="isInProgress" class="row">

            <div class="col-md-3"><label>Uploading</label></div>
            <div class="col-md-9 col-md-offset-3">
              <app-progressbar #uploadProgress></app-progressbar>
            </div>
          </div>

          <div *ngIf="isInProgress" class="row">
            <div class="col-md-3"><label>Data transformation</label></div>
            <div class="col-md-9 col-md-offset-3">
              <app-progressbar #transformationProgress></app-progressbar>
            </div>
          </div>

          <div *ngIf="hasData" class="row">
            <div class="col-md-3"><label>Result</label></div>
            <div class="col-md-9 col-md-offset-3">
              <div class="alert alert-info">
                Received data. {{dataSets}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Accept datasets</button>
      </div>
    </div>
  </div>
</div>
